{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock title %}

{% block body %}
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Route</th>
            <th scope="col">Date</th>
            <th scope="col">Client</th>
            <th scope="col">Driver</th>
            <th scope="col">Manager</th>
            <th scope="col">Finished</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <th scope="row">{{ order.id }}</th>
                <td>{{ order.route }}</td>
                <td>{{ order.date|date("m/d/Y H:i:s") }}</td>
                <td>{{ order.client.name }} {{ order.client.surname }}</td>
                <td>{% if order.driver %}{{ order.driver.name }} {{ order.driver.surname }}{% endif %}</td>
                <td>{{ order.manager.name }} {{ order.manager.surname }}</td>
                <td>
                    {% if order.finished == 'NO' %}
                        <form action="" method="post">
                            <button name="finish" value="{{ order.id }}" type="submit">Finish</button>
                        </form>
                    {% else %}
                        {{ order.finished }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}